@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ranchers&display=swap');

* {
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    font-family: "Ranchers", sans-serif;
    font-size: 250%;
    color: orange;
    background-color: white;
    display: block;
    width: 100%;
}

.nav-link p {
    font-family: "Raleway", sans-serif;
    font-size: 200%;
    color: black;
}

.nav-item {
    color: yellow;
    margin: 1% 5% 1% 5%;
}

/* body */
body {
    background-color: lime;
    margin: 0;
}

/* leaderboard */
#playerPanel {
    display: block;
    position: fixed;
    padding: 5%;
    text-align: center;
    justify-content: center;
    z-index: 1100; /* z index specifies the stack order, this ensures that the player panel is displayed in front of all other elements */
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: 350%;
    color: magenta;
}