@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ranchers&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: white;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card, 
.back, 
.front {
    height: 150px;
    width: 150px;
    margin: 5px;
}

.back, 
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: black url('../images/background.jpg') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: white !important;
}

/* Jumbotron */
.jumbotron {
    background-color: white;
    padding: 0px;
}
.title-main {
    font-family: "Ranchers", sans-serif;
    text-align: center;
}

.title-para {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 20px;
}

/* scoreboard */
.scoreboard {
    height: 50px;
    width: 650px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.restart {
    border: none;
    background-color: white;
    height: fit-content;
    font-size: 20px; 
}

.restart:hover {
    transform: scale(1.1);
    cursor: pointer;
}