*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: white;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5px;
    background-color: grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
}